#productos-container{
    display: grid;
    grid-template-areas: 
    "articulo articulo articulo"
    "articulo articulo articulo"
    ;
    grid-template-columns: repeat(3,250px);
    grid-template-rows:250px 250px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 60px;
}

#modal-shadow{
    top:0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
}

#email{
    position: absolute;
    right: 34%;
    width: 600px;
    height: 500px;
    background-color: #DBD7D7;
    z-index: 20;
    box-shadow:0 12px 22px 0 #000;
    transition: 1s;
}

#Contenedor-Productos{
    position: absolute;
    top: 60px;
    width: 50%;
    height: 700px;
    background-color: #DBD7D7;
    z-index: -2;
    margin-left: 25%;
    border-radius: 10px;
    border: 1px solid black;
}

.foot-tabla-productos{
    position: relative;
    top: 150px;
}

#contenedor-contactos-grid{
    position: relative;
    border-radius: 10px;
    border: 1px solid black;
    display: grid;
    margin-left: 25%;
    width: 50%;
    border-radius: 10px;
    background-color: #DBD7D7;
}

#Contenedor-Contactos{
    position: relative;
    top: 60px;
    width: 50%;
    height: 200px;
    background-color: #DBD7D7;
    margin-left: 25%;
    border-radius: 10px;
    border: 1px solid black;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    div, a{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    img{
        width: 60px;
        height: 60px;
    }
}

.grid-quienes-somos{
    display: grid;
    width: 50%;
    margin-left: 25%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 250px 250px;
    grid-template-areas:
        "quienes-somos quienes-somos"
        "pflexqs imagen-qs"
        "pflexqs-t imagen-qs-t";
    border: 1px solid black;
    border-radius: 5px;
    background-color: #DBD7D7;
    grid-row-gap: 20px;

    img{
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 200px;
        min-width: 200px;
        min-height: 200px;
    }

}

.grid-container-nuestros-clientes{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 250px;
    justify-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #DBD7D7;
    align-items: center;

    img{
        width: 100% !important;
        height: 50px;
        min-height: 120px!important;
    }
}

.grid-container-contacto{
    display: grid;
    width: 50%;
    margin-left: 25%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;

    img{
        width: 80px;
        height: 80px;
    }
}

#flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#flex-nav{
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 10px;
    width: 40%;
    justify-content: center;
    margin-left: 30%;
}

.articulo{
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 10px;
    justify-items: center;
    align-items: center;
    /*grid-area:producto;*/
    transition: 2s;
    z-index: 1;
}

.articulo:hover {
    background-color: cyan;
    transform: scale(1.1);
    animation-name: producto-1-mostrar;
}

#barra-navegacion{
    grid-area: navegacion;
    width: 100%;
    background-image: linear-gradient( black, transparent);
    align-self: start;

    svg{
        top: -48px;
        left: 92%;
        position: relative;
        cursor: pointer;
    }

}

.cerrar{
    cursor: pointer;
}

#barra-navegacion section a{
    color:white;
    padding: 15px 20px;
    animation-name:aparecer ;
    animation-duration: 2s;
    text-align: center;
}

#titulo-principal{
    animation-name:aparecer ;
    animation-duration: 3s;
    color: white;
}

.conjunto-formulario{
    margin: 10px 10px 10px 20px;
}

textarea{
    margin-top: 10px;
    width: 300px;
    height: 100px;
}

#fondo-productos{
    background-color: #757373;
}

#quienes-somos{
    grid-area: quienes-somos;
    text-align: center;
}

#producto-1-info, #producto-2-info, #producto-3-info, #producto-4-info, #producto-5-info, #producto-6-info{
    width: 200px;
    height: 130px;
    background-color: white;
    z-index: -1;
    position: absolute;
    top: 70px;
    text-align: center;
    padding: 10px;
    transition: 2s;
    opacity: 0;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
  }

  #producto-6 img{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
  } 

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.parrafo-principal-contacto{
    text-align: center;
    margin: 30px 150px;
}

@mixin sizesRows($sizeRow1, $sizeRow2, $sizeRow3, $sizeRow4){
    grid-template-rows: $sizeRow1, $sizeRow2, $sizeRow3, $sizeRow4;
}

@media screen and (max-width: 576px) { 

    #email{
        width: 100%;
        right: 0;
    } 

    .grid-quienes-somos {
        width: 60%;
        margin-left: 20%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "quienes-somos"
        "pflexqs"
        "imagen-qs"
        "pflexqs-t"
        "imagen-qs-t";
    }

    #Contenedor-Productos{
        width: 60%;
        margin-left: 20%;
        height: 1600px;
        top:320px
    }

    .parrafo-principal-contacto{
        margin: 30px 20px;
    }

    #contenedor-contactos-grid{
        width: 60%;
        margin-left: 20%;
    }

    .grid-container-nuestros-clientes{
        grid-template-rows: 150px 250px;
        width: 60%;
        margin-left: 20%;
    }

    #Contenedor-Contactos{
        width: 60%;
        margin-left: 20%;
        top: 60px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 600px;
    }

    #flex-nav{
        grid-template-rows: 60px 60px 60px 60px 60px;
        grid-template-columns: 1fr;
    }

    #productos-container{
        grid-template-areas: 
        "articulo"
        "articulo"
        "articulo"
        "articulo"
        "articulo"
        "articulo"
        "btn-ver-mas"
        ;
        grid-template-columns: repeat(1,250px);
        @include sizesRows(250px,250px,250px,250px);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    
    #email{
        width: 100%;
        right: 0;
    } 

    .grid-quienes-somos {
        width: 80%;
        margin-left: 10%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "quienes-somos"
        "pflexqs"
        "imagen-qs"
        "pflexqs-t"
        "imagen-qs-t";
    }

    #Contenedor-Productos{
        width: 80%;
        margin-left: 10%;
        height: 950px;
        top: 60px;
    }

    #contenedor-contactos-grid{
        width: 80%;
        margin-left: 10%;
    }

    .grid-container-nuestros-clientes{
        width: 80%;
        margin-left: 10%;
    }

    #Contenedor-Contactos{
        width: 80%;
        margin-left: 10%;
        height: 200px;
    }

    #flex-nav{
        grid-template-rows: 60px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    #productos-container{
        grid-template-areas: 
        "articulo articulo"
        "articulo articulo"
        "articulo articulo"
        "none btn-ver-mas"
        ;
        grid-template-columns: repeat(2,250px);
        @include sizesRows(250px,250px,250px,0);
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    
    #email{
        right: 17%;
        width: 600px;
    } 

    .grid-quienes-somos {
        width: 64%;
        margin-left: 18%;
        grid-template-rows: auto 300px 300px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 250px 250px;
        grid-template-areas:
        "quienes-somos quienes-somos"
        "pflexqs imagen-qs"
        "pflexqs-t imagen-qs-t";
    }

    body{
        overflow: scroll;
    }

    #Contenedor-Productos{
        width: 64%;
        margin-left: 18%;
        height: 950px;
    }

    #Contenedor-Contactos{
        width: 64%;
        margin-left: 18%;
        height: 200px;
    }
 
    #contenedor-contactos-grid{
        width: 64%;
        margin-left: 18%;
    }

    .grid-container-nuestros-clientes{
        width: 64%;
        margin-left: 18%;
    }

    #productos-container{
        grid-template-areas: 
        "articulo articulo"
        "articulo articulo"
        "articulo articulo"
        "none btn-ver-mas"
        ;
        @include sizesRows(250px, 250px, 250px,0);
    }
 }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    
    #email{
        right: 17%;
        width: 600px;
    } 

    .grid-quienes-somos {
        width: 90%;
        margin-left: 5%;
        grid-template-rows: auto 250px 250px;
        grid-template-areas:
        "quienes-somos quienes-somos"
        "pflexqs imagen-qs"
        "pflexqs-t imagen-qs-t";
    }

    #Contenedor-Productos{
        width: 90%;
        margin-left: 5%;
        height: 700px;
    }

    #Contenedor-Contactos{
        width: 90%;
        margin-left: 5%;
        height: 200px;
    }

    #contenedor-contactos-grid{
        width: 90%;
        margin-left: 5%;
    }

    .grid-container-nuestros-clientes{
        width: 90%;
        margin-left: 5%;
    }

    #productos-container{
        grid-template-areas: 
        "articulo articulo articulo"
        "articulo articulo articulo"
        "none none btn-ver-mas";
        grid-template-columns: repeat(3,250px);
        @include sizesRows(250px, 250px,0,0);
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    #email{
        right: 25%;
        width: 600px;
    }  

    .grid-quienes-somos {
        width: 70%;
        margin-left: 15%;
        grid-template-areas:
        "quienes-somos quienes-somos"
        "pflexqs imagen-qs"
        "pflexqs-t imagen-qs-t";
    }

    #Contenedor-Productos{
        width: 70%;
        margin-left: 15%;
    }

    #Contenedor-Contactos{
        width: 70%;
        margin-left: 15%;
        height: 200px;
    }

    #contenedor-contactos-grid{
        width: 70%;
        margin-left: 15%;
    }

    .grid-container-nuestros-clientes{
        width: 70%;
        margin-left: 15%;
    }

    #productos-container{
        grid-template-areas: 
        "articulo articulo articulo"
        "articulo articulo articulo"
        "none none btn-ver-mas";
        ;
        @include sizesRows(250px, 250px,0,0);
    }
 }

 @media screen and (min-width: 1500px) { 

    #email{
        right: 34%;    
        width: 600px;
    }   

    .grid-quienes-somos {
        width: 50%;
        margin-left: 25%;
        grid-template-areas:
        "quienes-somos quienes-somos"
        "pflexqs imagen-qs"
        "pflexqs-t imagen-qs-t";
    }

    #Contenedor-Productos{
        width: 50%;
        margin-left: 25%;
    }

    #contenedor-contactos-grid{
        width: 50%;
        margin-left: 25%;
    }

    .grid-container-nuestros-clientes{
        width: 50%;
        margin-left: 25%;
    }

    #Contenedor-Contactos{
        width: 50%;
        margin-left: 25%;
        height: 200px;
    }

    #productos-container{
        grid-template-areas: 
        "articulo articulo articulo"
        "articulo articulo articulo"
        "none none btn-ver-mas";
        ;
    }
 }

 .nav-label-nuestros-clientes{
    position: relative;
    top: -7px;
    line-height: 20px;
 }

 .nav-label-quienes-somos{
    position: relative;
    top: -7px;
    line-height: 20px;
 }

 .nav-label-nuestros-productos{
    position: relative;
    top: -8px;
    line-height: 20px;
}

.SelectedPage{
    position: relative;
    font-size: 20px;
    font-weight: 700;
}

#demo{
    z-index: 100;
}
#demo-1{
    z-index: 90;
}
#demo-2{
    z-index: 80;
}
#demo-3{
    z-index: 70;
}
#demo-4{
    z-index: 60;
}

.btn-ver-mas{
    background-color: #363434;
    padding: 10px 70px;
    border: 2px solid black;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    grid-area: btn-ver-mas;
}

.flex-imagen-QS{
    grid-area: imagen-qs;
    align-self: center;
    justify-self: center;
}

.parrafo-flex-QS{
    margin: 5px;
    align-self: center;
    grid-area: pflexqs;
    text-align: center;
}

.flex-imagen-QS-2{
    grid-area: imagen-qs-t;
    align-self: center;
    justify-self: center;
}

.parrafo-flex-QS-2{
    margin: 5px;
    align-self: center;
    grid-area: pflexqs-t;
    text-align: center;
}





